combobox-framework [slot="list"] {
    color: var(--background-color);
    background-color: var(--text-color);
    position: absolute;
    top: anchor(bottom);
    left: anchor(left);
    right: anchor(right);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0 0 0.2rem 0.2rem;
}

combobox-framework [slot="list"] > * {
    padding: 0.2rem;
    cursor: pointer;
}

combobox-framework [slot="list"] li:hover,
combobox-framework [slot="list"] tr:hover td {
    background-color: var(--primary-color);
}