@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

/* Page styling */
:root {
    --primary-color: #4cb5ae;
    --primary-color-dark: #3a8c87;
    --text-color: #f7f7ff;
    --background-color: #111;
    --background-color-dark: #000;
}

::selection {
    background: var(--primary-color);
    color: var(--background-color-dark);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vw;
    background: var(--background-color-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-dark);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: min(2.5rem, 5vw);
    font-family: "Atkinson Hyperlegible", sans-serif;
    max-width: min(80ch, 100dvw);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Code Pro", monospace;
}

h1 {
    font-size: clamp(min(11vw, 3rem), 11vw, 3rem);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

a {
    color: var(--primary-color);
}

pre {
    background-color: var(--background-color-dark);
    color: var(--text-color);
    padding: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-family: "Source Code Pro", monospace;
    max-width: 90%;
    overflow-x: auto;
}

code {
    font-family: "Source Code Pro", monospace;
}

:not(combobox-framework) > ul {
    list-style: none;
    padding-inline-start: 1.5rem;
}

:not(combobox-framework) > ul li {
    margin-block: 1rem;
}

.features li {
    padding-left: 0.5ch;
}

.features .accessible::marker {
    content: "🌟";
}

.features .styling::marker {
    content: "🎨";
}

section:has(h2):not(:has(h3)),
section:not(:has(h2)):has(h3) {
    border-left: 5px solid var(--primary-color);
    padding-left: 2rem;
    margin-left: -2rem;
}

/* ComboBox styles */
combobox-framework [slot="list"] {
    color: var(--background-color);
    background-color: var(--text-color);
    position: absolute;
    top: anchor(bottom);
    left: anchor(left);
    right: anchor(right);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0 0 0.2rem 0.2rem;
}

combobox-framework [slot="list"] > * {
    padding: 0.2rem;
    cursor: pointer;
}

combobox-framework [slot="list"] li:hover,
combobox-framework [slot="list"] tr:hover td {
    background-color: var(--primary-color);
}

combobox-framework input[aria-expanded="false"] + [slot="list"] {
    display: none;
}
